/**
 * Document
 */
:root {
  --point-size: 1rem;
}

body {
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #333;
  color: #fff;
  font-family: "Trebuchet MS", sans-serif;
}

/**
 * Points
 */

.point {
  position: absolute;
  width: var(--point-size);
  height: var(--point-size);
  border-radius: var(--point-size);
  background-color: black;
}

/**
 * Inputs
 */

#form-container {
  width: fit-content;
  padding: 2rem;
  background-color: slateblue;
  border-radius: 0.5rem;
  box-shadow: 3px 4px 8px #0003;
}

#form-container > p {
  margin: 0;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

#form-container > p:not(:first-of-type) {
  margin-top: 1.5rem;
  padding-top: 0.75rem;
  border-top: 2px solid darkslateblue;
}

#form-container > label {
  padding: 0 0.5rem;
}

#form-container > input {
  width: 4rem;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  color: white;
  background-color: transparent;
}
